[tool.poetry]
name = "wsuks"
version = "0.2.2"
description = "A Tool for automating the MITM attack on the WSUS connection"
authors = ["Alexander Neff <alex99.neff@gmx.de>"]
readme = "README.md"
license = "MIT"
packages = [
    { include = "wsuks" }
]

[tool.poetry.scripts]
wsuks = "wsuks.wsuks:main"

[tool.poetry.dependencies]
python = "^3.10"
impacket = "^0.10.0"
scapy = "^2.5.0"
termcolor = "^2.2.0"
bs4 = "^0.0.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
